# # ─── Server ───────────────────────────────────────
# PORT=5000
# NODE_ENV=development

# # ─── MongoDB ──────────────────────────────────────
# MONGO_URI=mongodb+srv://Admin:hassanlodhi61@cluster0.auebysc.mongodb.net/myDB?retryWrites=true&w=majority&appName=Cluster0

# # ─── JWT ──────────────────────────────────────────
# JWT_SECRET=replace_with_a_long_random_secret_string_here
# JWT_EXPIRES_IN=7d

# # ─── Admin Credentials ────────────────────────────
# ADMIN_USERNAME=admin
# ADMIN_PASSWORD=admin123

# # ─── Cloudinary ───────────────────────────────────
# CLOUDINARY_CLOUD_NAME=Portfolio2
# CLOUDINARY_API_KEY=466478512184624
# CLOUDINARY_API_SECRET=nkk2SyxWwuqNJTzTH9oveIp255M

# # ─── Frontend URL (CORS) ──────────────────────────
# CLIENT_URL=http://localhost:5173
